// Colors (from the Atom One themes)

$syntax-hue:          220;
$syntax-saturation:   13%;
$syntax-brightness:   18%;

$grey-darkest:  hsl($syntax-hue, $syntax-saturation, $syntax-brightness);
$grey-dark:     hsl($syntax-hue,  8%, 24%);
$grey-light:    hsl($syntax-hue, 10%, 40%);
$grey-lightest: hsl($syntax-hue, 14%, 71%);

$blue:   hsl(207, 82%, 66%);
$purple: hsl(286, 60%, 67%);
$green:  hsl( 95, 38%, 62%);
$red:    hsl(355, 65%, 65%);
$orange: hsl( 41, 99%, 38%);

$background-color: $grey-darkest;
$main-text-color: $grey-lightest;
$main-border-color: $grey-light;
$image-border-color: $grey-dark;
$artist-name-color: $orange;
$icon-bar-background-color: fade-out($background-color, 0.15);

$icon-local-color:    $red;
$icon-qobuz-color:    $blue;
$icon-spotify-color:  $green;
$icon-booklet-color:  $purple;
$icon-archived-color: $main-text-color;

//
// Fonts
//

@font-face {
  font-family: SourceSansPro;
  font-weight: normal;
  src: url(resources/SourceSansPro-Regular.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  src: url(resources/SourceSansPro-ExtraLight.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  src: url(resources/SourceSansPro-Light.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  src: url(resources/SourceSansPro-Semibold.otf.woff);
}

//
// Styles
//

body {
  color: $main-text-color;
  background-color: $background-color;
  font-family: SourceSansPro, sans-serif;
  margin: 8px 0;
}

header {
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: 40px 0 0 0;
  padding: 40px 10px 40px 0;
  border-top: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
}

footer {
  height: 80px;
}

img {
  display: block;
  margin: 0;
  border: 1px solid $image-border-color;
}

.artist {
  margin-left: 40px;
  margin-bottom: 20px;
}

.album {
  display: inline-block;
  margin: 0 24px 22px 0;
  position: relative;
}

.artist-name {
  color: $artist-name-color;
  font-size: 36px;
  font-weight: 200;
  margin-right: 20px;
}

.album-container {
  margin-top: 7px;
}

.album:hover .icon-bar {
  display: block;
}

.icon-bar {
  display: none;
  background-color: $icon-bar-background-color;
  position: absolute;
  bottom: 0px;
  height: 22px;
  padding: 5px 0 2px;
  width: 100%;
  color: $main-text-color;
  font-size: 13px;
  font-weight: 600;
}

.icon {
  display: inline-block;
  text-transform: lowercase;
  float: left;
  margin: 0 0 5px 5px;
}

.icon > a {
  text-decoration: none;
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
}

.icon-local > a, .icon-archived > a {
  pointer-events: none;
}

.icon-local {
  color: $icon-local-color;
}

.icon-spotify {
  color: $icon-spotify-color;
}

.icon-qobuz {
  color: $icon-qobuz-color;
}

.icon-booklet {
  color: $icon-booklet-color;
}

.icon-archived {
  color: $icon-archived-color;
  float: right;
  margin-right: 5px;
}
