@font-face {
  font-family: SourceSansPro;
  font-weight: normal;
  src: url(resources/SourceSansPro-Regular.otf.woff); }
@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  src: url(resources/SourceSansPro-ExtraLight.otf.woff); }
@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  src: url(resources/SourceSansPro-Light.otf.woff); }
@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  src: url(resources/SourceSansPro-Semibold.otf.woff); }
*:focus {
  outline: none; }

body {
  color: #abb2bf;
  background-color: #282c34;
  font-family: SourceSansPro, sans-serif;
  margin: 0; }

header {
  padding: 50px 35px 0 35px; }

main {
  display: flex;
  flex-flow: row wrap;
  margin: 45px 0 0 0;
  padding: 40px 10px 20px 0;
  border-top: 1px solid #5c6370;
  border-bottom: 1px solid #5c6370; }

footer {
  color: #5c6370;
  text-align: center;
  vertical-align: center;
  margin: 30px 0 35px 0; }

img {
  display: block;
  margin: 0;
  border: 1px solid #383c42; }

a {
  text-decoration: none;
  color: inherit; }

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

nav > * {
  display: inline-block; }

.artist-list {
  margin: 35px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  line-height: 1.4;
  color: rgba(171, 178, 191, 0.75); }
  .artist-list .artist-list-letter, .artist-list .artist-list-name {
    margin: 0 15px 0 0; }
  .artist-list .artist-list-letter {
    color: #c18401; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

fieldset label span {
  border-top: 1px solid #5c6370;
  border-bottom: 1px solid #5c6370;
  border-left: 1px solid #5c6370;
  padding: 3px 7px 4px 7px;
  color: #5c6370;
  user-select: none;
  -webkit-user-select: none; }

fieldset label:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

fieldset label:last-child span {
  border-right: 1px solid #5c6370;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

:checked + span {
  color: #c18401;
  color: rgba(193, 132, 1, 0.75); }

#source-selector fieldset label:nth-child(1) :checked + span {
  color: rgba(224, 108, 117, 0.75); }

#source-selector fieldset label:nth-child(2) :checked + span {
  color: rgba(97, 175, 239, 0.75); }

#source-selector fieldset label:nth-child(3) :checked + span {
  color: rgba(152, 195, 121, 0.75); }

#source-selector fieldset label:nth-child(4) :checked + span {
  color: rgba(171, 178, 191, 0.75); }

input[type="search"] {
  background-color: #282c34;
  border: 1px solid #5c6370;
  border-radius: 5px;
  height: 25px;
  margin: 0;
  padding: 1px 6px;
  color: #c18401;
  font-size: 1rem;
  box-sizing: content-box;
  position: relative;
  bottom: 4px; }

::-webkit-input-placeholder {
  color: #5c6370; }

input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

.artist {
  margin: 0 0 20px 40px; }

.artist-name {
  color: #c18401;
  font-size: 36px;
  font-weight: 200;
  margin: 0 24px 0 0; }

.album-container {
  margin: 12px 0 0 0; }

.grouping-links {
  display: inline; }

.grouping-link {
  color: #c18401;
  margin: 0 0 0 20px;
  font-size: 15px; }

.grouping {
  display: inline-block; }
  .grouping .album {
    display: inline-block; }

.grouping-name {
  display: inline-block;
  vertical-align: top;
  color: #c18401;
  font-size: 22px;
  font-weight: 300;
  margin: 30px 24px 0 0;
  min-width: 222px;
  text-align: right; }

.album {
  display: inline-block;
  margin: 0 24px 22px 0;
  position: relative; }

.album:hover .icon-bar {
  display: block; }

.star {
  display: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 2px 2px 2px;
  border-bottom-left-radius: 8px; }
  .star img {
    border: none; }

.album:hover .star {
  display: block;
  background-color: rgba(40, 44, 52, 0.85); }

.star.starred {
  display: block;
  background-color: rgba(40, 44, 52, 0.75); }

.icon-bar {
  display: none;
  background-color: rgba(40, 44, 52, 0.85);
  position: absolute;
  bottom: 0px;
  height: 22px;
  padding: 5px 0 2px;
  width: 100%;
  color: #abb2bf;
  font-size: 13px;
  font-weight: 600; }

.icon {
  display: inline-block;
  text-transform: lowercase;
  float: left;
  margin: 0 0 5px 5px; }

.icon > a {
  user-select: none;
  -webkit-user-select: none; }

.icon-local > a, .icon-archived > a {
  pointer-events: none; }

.icon-local {
  color: #e06c75; }

.icon-spotify {
  color: #98c379; }

.icon-qobuz {
  color: #61afef; }

.icon-booklet {
  color: #c678dd; }

.icon-archived {
  color: #abb2bf;
  float: right;
  margin-right: 5px; }
