// COLORS (from the Atom One themes)


$syntax-hue: 220;

$grey-darkest:  hsl($syntax-hue, 13%, 18%);
$grey-dark:     hsl($syntax-hue,  8%, 24%);
$grey-light:    hsl($syntax-hue, 10%, 40%);
$grey-lightest: hsl($syntax-hue, 14%, 71%);

$blue:   hsl(207, 82%, 66%);
$purple: hsl(286, 60%, 67%);
$green:  hsl( 95, 38%, 62%);
$red:    hsl(355, 65%, 65%);
$orange: hsl( 41, 99%, 38%);

$background-color: $grey-darkest;
$main-text-color: $grey-lightest;
$main-border-color: $grey-light;
$image-border-color: $grey-dark;
$artist-name-color: $orange;
$icon-bar-background-color: fade-out($background-color, 0.15);

$local-color:    $red;
$qobuz-color:    $blue;
$spotify-color:  $green;
$booklet-color:  $purple;
$archived-color: $main-text-color;
$missing-color:  $main-text-color;



// FONTS


@font-face {
  font-family: SourceSansPro;
  font-weight: normal;
  src: url(resources/SourceSansPro-Regular.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  src: url(resources/SourceSansPro-ExtraLight.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  src: url(resources/SourceSansPro-Light.otf.woff);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  src: url(resources/SourceSansPro-Semibold.otf.woff);
}



// MAIN STYLING


*:focus {
  outline: none;
}

body {
  color: $main-text-color;
  background-color: $background-color;
  font-family: SourceSansPro, sans-serif;
  font-size: 16px;
  margin: 0;
}

header {
  padding: 50px 35px 0 35px;
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: 45px 0 0 0;
  padding: 40px 10px 20px 0;
  border-top: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
}

footer {
  color: $grey-light;
  text-align: center;
  vertical-align: center;
  margin: 30px 0 35px 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}



// HEADER CONTENTS


nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav > * {
  display: inline-block;
}

.artist-list {
  margin: 35px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  line-height: 1.4;
  color: fade-out($grey-lightest, 0.25);

  .artist-list-letter, .artist-list-name {
    margin: 0 15px 0 0;
  }

  .artist-list-letter {
    color: $orange;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

$input-label-border: 1px solid $grey-light;
$input-label-border-radius: 5px;

fieldset label span {
  border-top: $input-label-border;
  border-bottom: $input-label-border;
  border-left: $input-label-border;
  padding: 3px 7px 4px 7px;
  color: $grey-light;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

fieldset label:first-child span {
  border-top-left-radius: $input-label-border-radius;
  border-bottom-left-radius: $input-label-border-radius;
}

fieldset label:last-child span {
  border-right: $input-label-border;
  border-top-right-radius: $input-label-border-radius;
  border-bottom-right-radius: $input-label-border-radius;
}

:checked + span {
  color: fade-out($orange, 0.25);
}

#source-selector fieldset label:nth-child(1) :checked + span {
  color: fade-out($local-color, 0.25);
}

#source-selector fieldset label:nth-child(2) :checked + span {
  color: fade-out($qobuz-color, 0.25);
}

#source-selector fieldset label:nth-child(3) :checked + span {
  color: fade-out($spotify-color, 0.25);
}

#source-selector fieldset label:nth-child(4) :checked + span {
  color: fade-out($missing-color, 0.25);
}

input[type="search"] {
  background-color: $grey-darkest;
  border: $input-label-border;
  border-radius: $input-label-border-radius;
  height: 25px;
  margin: 0;
  padding: 0px 6px 1px 6px;
  color: fade-out($orange, 0.25);
  font-size: 1rem;
  box-sizing: content-box;
  position: relative;
  bottom: 4px;
}

::-webkit-input-placeholder {
  color: $grey-light;
}

input[type="search"]::-webkit-search-cancel-button {
  height: 12px;
  width: 12px;
  background-image: url("resources/times-circle-solid.svg");
}

input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}



// ARTISTS AND GROUPINGS


.artist {
  margin: 0 0 20px 40px;
}

.artist-name {
  color: $artist-name-color;
  font-size: 36px;
  font-weight: 200;
  margin: 0 24px 0 0;
}

.album-container {
  display: flex;
  flex-flow: row wrap;
  margin: 12px 0 0 0;
}

.grouping-links {
  display: inline;
}

.grouping-link {
  color: $artist-name-color;
  margin: 0 0 0 20px;
  font-size: 15px;
}

.grouping {
  display: inline-block;
}

.grouping-name {
  display: inline-block;
  vertical-align: top;
  color: $artist-name-color;
  font-size: 22px;
  font-weight: 300;
  margin: 30px 24px 0 0;
  min-width: 222px;
  text-align: right;

  a {
    padding: 50px 0 0 0;
  }
}



// ALBUMS


.album {
  display: inline-block;
  margin: 0 24px 24px 0;
  position: relative;
}

.cover {
  border: 1px solid $image-border-color;
}

.icon-bar {
  display: none;
  background-color: $icon-bar-background-color;
  position: absolute;
  bottom: 0px;
  height: 22px;
  padding: 5px 0 2px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;

  .album:hover & {
    display: block;
  }
}

.icon {
  display: inline-block;
  float: left;
  margin: 0 0 5px 5px;
  text-transform: lowercase;

  &.archived {
    float: right;
    margin-right: 5px;
  }

  a {
    user-select: none;
    -webkit-user-select: none;
  }

  &.local, &.archived {
    a {
      pointer-events: none;
    }
  }

  &.local    { color: $local-color; }
  &.qobuz    { color: $qobuz-color; }
  &.spotify  { color: $spotify-color; }
  &.booklet  { color: $booklet-color; }
  &.archived { color: $archived-color; }
}

.star {
  display: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 2px 2px 2px;
  border-bottom-left-radius: 8px;

  .album:hover & {
    display: block;
    background-color: $icon-bar-background-color;
  }

  &.starred {
    display: block;
    background-color: fade-out($icon-bar-background-color, 0.1);
  }
}
